<header>
    <h1>Welcome to Inventory Management Services</h1>
 </header>

  <br>

  <div class="container">
    <div class="topcontainer">
      <img class="left" src="../assets/Dragster.jpeg" width="100px" height="100px">
    </div>
    <div class="middlecontainer">
      <img class="right" src="../assets/FredMobile.jpg" width="100px" height="100px">
    </div>
    <div class="bottomcontainer">
      <img class="right" src="../assets/Truck.jpeg" width="100px" height="100px">
    </div>
  </div>

  <router-outlet></router-outlet>
